@mixin align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --font1: 'helvetica-w01-bold', sans-serif;
  --font2: 'helvetica', sans-serif;

  --lightgreen: #399D81;
  --semiblack: #151E1D;
  --white: #ffffff;
  --grey: #949494;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font2);
  scroll-behavior: smooth;
}

.main-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;

  .section {
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
  }

  .landing {
    background-image: url(../../assets/background.svg);
    background-repeat: no-repeat;
    background-size: 150vw;
    background-position-x: -60vh;
    background-position-y: -85vh;

    .banner {
      display: flex;
      color: transparent;
      align-items: center;
      padding: 20px 8%;

      .logo {
        width: 160px;
      }

      .nav-bar {
        text-align: right;
        flex: 1;
        margin-top: 8px;

        a {
          text-decoration: none;
          margin: 0 20px;
          color: var(--semiblack);
          transition: all 0.15s linear;

          &:hover {
            color: var(--lightgreen);
          }
        }

        .active {
          color: var(--lightgreen);
        }

        button {
          cursor: pointer;
          outline: none;
          border-style: none;
          background: transparent;
          font-size: 16px;
          line-height: 1;
          color: var(--lightgreen);
          border: solid 2px var(--lightgreen);
          border-radius: 20px;
          height: 40px;
          width: 130px;
          margin-left: 20px;
          transition: all 0.2s linear;

          &:hover {
            background: var(--lightgreen);
            color: var(--white);
          }
        }
      }
    }
  }

  .about {
    @include align-center;
    justify-content: space-evenly;
    // background: var(--semiblack);
    background: rgb(21,30,29);
    background: linear-gradient(180deg, rgba(21,30,29,1) 50%, rgba(64,80,79,1) 100%);

    .text-wrapper {
      color: var(--white);
      width: 500px;

      h1 {
        font-size: 2.5em;
        margin-bottom: 1em;

        span {
          color: var(--lightgreen);
        }
      }

      p {
        font-size: 1.2em;
      }
    }

    img {
      max-width: 60%;
      max-height: 60%;
    }
  }

  .devto {
    @include align-center;
    justify-content: space-evenly;
    background: rgb(64,80,79);
    background: linear-gradient(180deg, rgba(64,80,79,1) 0%, rgba(255,255,255,1) 100%);

    .mask {
      @include align-center;
      position: relative;
      height: 350px;
      width: 600px;
      border-radius: 4px;
      transition: all 0.2s linear;
      overflow: hidden;
      cursor: pointer;

      .devpage {
        position: absolute;
        width: 150%;
        left: -25%;
        transition: transform 1.5s;
        top: 0px;
      }

      &:hover .devpage {
        transform: translateY(calc((0px) - 300px - 50px));
      }      
    }

    .text-wrapper {
      width: 500px;

      h1 {
        font-size: 2.5em;
        margin-bottom: 1em;

        span {
          color: var(--lightgreen);
          transition: all 0.15s linear;
        }

        a {
          text-decoration: none;

          .link:hover {
            color: var(--white);
          }
        }
      }

      p {
        font-size: 1.2em;

        img {
          width: 20px;
        }
      }
    }
  }

  .about-2 {
    @include align-center;
    justify-content: space-evenly;
    height: 90vh;
    background: var(--white);

    img {
      max-width: 50%;
      max-height: 50%;
    }

    .text-wrapper {
      width: 500px;

      h1 {
        font-size: 2.5em;
        margin-bottom: 1em;

        span {
          color: var(--lightgreen);
        }
      }

      p {
        font-size: 1.2em;
      }
    }
  }

  .party {
    z-index: -1;

    .layer {
      inset: 0;
      position: absolute;
      @include align-center;
      transform: translateZ(-300px) scale(2.1);
    }
  }

  .end {
    @include align-center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 70vh;
    background: var(--white);

    h1 {
      font-size: 2.5em;
      text-align: center;

      span {
        color: var(--lightgreen);
      }
    }

    .footer {
      @include align-center;
      flex-direction: column;

      p {
        color: var(--grey);
      }
  
      .footer-socials {
  
        a {
          
          img {
            height: 1.5em;
            width: 1.5em;
            margin: 10px;
            filter: invert(67%) sepia(2%) saturate(35%) hue-rotate(356deg) brightness(89%) contrast(87%);
          }
        }
      }
    }
  }

  #devto {
    z-index: 0;
  }

  #about-2 {
    z-index: 0;
  }

  #partylax {
    z-index: -1;
  }

  #partylax > .layer {
    background-image: url(../../assets/PARTY-3.jpg);
    background-size: cover;
  }
}