@mixin align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --font1: 'helvetica-w01-bold', sans-serif;
  --font2: 'helvetica', sans-serif;

  --lightgreen: #399D81;
  --semiblack: #151E1D;
  --white: #ffffff;
  --grey: #949494;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font2);
  scroll-behavior: smooth;
}

.main-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}